<!DOCTYPE html>
<html>
  <%- include('includes/header'); -%>
  <%=userdetails[0].username%>
  <h2>Data Inventory</h2>
        <table>
            <tr>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Product Brand</th>
              <th>Product Model</th>
              <th>Product Price</th>
              <th>Product Image</th>
              <th>Add to Cart</th>
            </tr>
            <% products.forEach((products)=> { %>
            <tr>
              <td><%= products._id %></td>
              <td><%= products.productname %></td>
              <td><%= products.brand %></td>
              <td><%= products.model %></td>
              <td><%= products.price %></td>
              <td><img src="../static/<%= products.imagePath %>"</td>
              <td><a href="http://localhost:8080/user/addtocart/<%=products._id%>" class="addbutton"
                data-toggle="modal">Add to Cart</a></td>
            </tr>
            <% }) %>
          </table>
          
          <%- include('includes/footer'); -%>
</html>