<!DOCTYPE html>
<html>
  <%- include('includes/header'); -%>
  <h2></h2>
        <table>
          
            <tr>
              <th>Product Name</th>
              <th>Product Brand</th>
              <th>Product Model</th>
            </tr>
            <% products.forEach((products)=> { %>
            <tr>
              <td><%= products.productname %></td>
              <td><%= products.brand %></td>
              <td><%= products.model %></td>
            </tr>
            <% }) %>
          </table>
          
          <%- include('includes/footer'); -%>
</html>